#register-style{
    border: 1px solid gray;
    padding: 30px;
    border-radius: 15px;
}

#register-style input{
    border: none;
    border-bottom: 1px solid gray;
    padding: 15px;
}
.submit-btn{
    margin: 10px;
    border: none;
}